@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    box-shadow: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, blue,purple);
}
header{
    margin: auto;
}

h1{
    
}