@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    box-shadow: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
}

main{
    margin: auto;
    min-width: 320;
    max-width: 800px;
    background-image: linear-gradient(to left, blue, purple);
}

h1{
    padding: 0px 0x 0px 70px;
}




