@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(205, 164, 50);
    margin-left: 7%;

}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(205, 164, 50);
    margin-left: 10%;
}

fieldset{
    background-color: #3D3C3D;
    border: 0;
}

body{
    background-color: #6F6B6C;
    color: wheat;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}